# Read Readme before doing anything


#________COMPULSORY____________

TG_BOT_TOKEN= ""
APP_ID = 961780
API_HASH = "bbbfa43f067e1e8e2fb41f334d32a6a7"
OWNER_ID = 1022358547
LEECH_COMMAND = "/leech@HayaaeManaBot"
YTDL_COMMAND = "/leechwatch@HayaaeManaBot"
LEECH_UNZIP_COMMAND = "/leechunzip@HayaaeManaBot"
LEECH_ZIP_COMMAND = "/leechzip@HayaaeManaBot"

# Add different ID separated by a SPACE (Like :: AUTH_CHANNEL = -10012503747 -10012586941 539295917)
AUTH_CHANNEL = 1438313485


#__________NOT ________COMPULSORY____________ ::

# For RCLONE ::
# Name of the folder....not ID
DESTINATION_FOLDER = "TorrentLeech-Gdrive"
INDEX_LINK = ""

# OTHERS ::
EDIT_SLEEP_TIME_OUT = 15
MAX_TG_SPLIT_FILE_SIZE = 1072864000

#_____There are other vars too_____Read Readme to Know better____
#_____And fill them as new line if needed :)
